<div id="main-artists">
  <div>
    <h1>Nos artistes</h1>
  </div>
  <div class="wrapper artists">
      <% @artists.each do |artist| %>
          <%= link_to artist_path(artist.id) do %>
            <div class="artist-card d-flex justify-content-center align-items-center" style="background-image: url(<%= cl_image_path(artist.avatar.key) %>)">
                <div class="hover-card flex-grow-1 d-flex justify-content-center align-items-center">
                  <%=artist.name%>
                </div>
            </div>
          <% end %>
      <% end %>
  </div>
</div>
