<div id="main-artists">
  <div>
    <h1>Proud of our dogs</h1>
  </div>
  <div class="wrapper artists">
      <% @artists.each do |artist| %>
          <%= link_to artist_path(artist.id) do %>
            <div class="artist-card" style="background-image: url(<%= cl_image_path(artist.avatar.key) %>)">
              <div class="artist-card-hover">
                <div>
                  <%=artist.name%>
                </div>
              </div>
            </div>
          <% end %>
      <% end %>
  </div>
</div>
