#main-artist {
  margin: 40px;
  #artist-content {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 1fr;
    grid-column-gap: 15px;
    grid-row-gap: 40px;
    .artist-picture {
      height: 450px;
      width: 450px;
      object-fit: cover;
    }
    p {
      font-weight: 100;
    }
    .artist-description {
      max-width: 700px;
      padding: 0px 10px;
      text-align: justify;
    }
    .artist-details {
      min-width: 150px;
      max-width: 180px;
      margin: 20px auto 0px;
      div {
        margin-bottom: 15px;
      }
      p {
        margin-bottom: 0px;
      }
      .artist-details-title {
        font-weight: bold;
        margin-bottom: 0px;
      }
      .artist-links a {
        text-decoration: none;
        color: #ffffff;
        &:hover {
          color: #cd16eb;
        }
      }
    }
  }
  #artist-booking {
    margin: 50px auto 0px;
    text-align: center;
    .artist-cta-main {
      text-decoration: none;
      color: white;
      font-weight: bold;
      padding: 20px;
      background-color: #cd16eb;
      border-radius: 50px;
      border: 1px solid white;
      width: 207px;
      display: inline-block;
      transition: 0.15s ease-out;
      &:hover {
        box-shadow: 0px 0px 15px 2px #cd16eba6;
      }
    }
  }
}
@media(max-width: 1600px) {
  #main-artist #artist-content .artist-video iframe {
    width: 320px;
    height: 180px;
  }
  #main-artist #artist-content .artist-picture {
    height: 400px;
    width: 400px;
  }
}
@media(max-width: 1500px) {
  #main-artist #artist-content .artist-picture {
    height: 400px;
    width: 300px;
  }
}
@media(max-width: 1300px) {
  #main-artist #artist-content {
    grid-template-columns: 1fr 2fr 1fr;
    .artist-video {
      grid-column-start: 1;
      grid-column-end: 4;
      display: flex;
      justify-content: center;
      align-items: center;
      iframe {
        width: 720px;
        height: 405px;
      }
    }
    .artist-podcast {
      grid-column-start: 1;
      grid-column-end: 4;
      display: flex;
      justify-content: center;
      align-items: center;
      iframe {
        width: 70%;
      }
    }
  }
}
@media(max-width: 1000px) {
  #main-artist #artist-content {
    grid-template-columns: 1fr 2fr;
    .artist-details {
      margin: 0px auto;
    }
    .artist-video {
      grid-column-start: 2;
      grid-column-end: 3;
      iframe {
        width: 480px;
        height: 270px;
      }
    }
    .artist-podcast {
      grid-column-start: 2;
      grid-column-end: 3;
      iframe {
        width: 98%;
      }
    }
  }
}
@media(max-width: 875px) {
  #main-artist #artist-content .artist-picture {
    height: 330px;
    width: 230px;
  }
}
@media(max-width: 800px) {
  #main-artist #artist-content .artist-video iframe {
    width: 320px;
    height: 180px;
  }
}
@media(max-width: 700px) {
  #main-artist #artist-content {
    display: block;
    .artist-picture {
      inline-size: 100%;
    }
    .artist-description {
      margin: 30px 0px 40px;
    }
    .artist-details {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      max-width: none;
      margin: 0px auto 40px;
      div {
        width: 145px;
        margin-bottom: 0px;
      }
    }
    .artist-video iframe {
      width: 480px;
      height: 270px;
    }
  }
}
@media(max-width: 560px) {
  #main-artist #artist-content .artist-video iframe {
    width: 320px;
    height: 180px;
  }
}
@media(max-width: 450px) {
  #main-artist {
    margin: 40px 30px;
  }
}
@media(max-width: 400px) {
  #main-artist #artist-content .artist-video iframe {
    width: 280px;
    height: 157.5px;
  }
}
@media(max-width: 350px) {
  #main-artist #artist-content .artist-video iframe {
    width: 240px;
    height: 135px;
  }
}
