#main-artist {
  margin: 40px;
  #artist-content {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 1fr;
    .artist-picture {
      height: 450px;
      width: 450px;
      object-fit: cover;
    }
    p {
      font-weight: 100;
    }
    .artist-description {
      max-width: 700px;
      margin: 0px 40px;
      text-align: justify;
    }
    .artist-details {
      min-width: 150px;
      max-width: 180px;
      margin: 20px 40px 0px 0px;
      div {
        margin-bottom: 15px;
      }
      p {
        margin-bottom: 0px;
      }
      .artist-details-title {
        font-weight: bold;
        margin-bottom: 0px;
      }
      .artist-links a {
        text-decoration: none;
        color: #ffffff;
        &:hover {
          color: #cd16eb;
        }
      }
    }
  }
}
@media(max-width: 1600px) {
  #main-artist #artist-content .artist-video iframe {
    width: 320px;
    height: 180px;
  }
  #main-artist #artist-content .artist-picture {
    height: 400px;
    width: 400px;
  }
}
@media(max-width: 1500px) {
  #main-artist #artist-content .artist-picture {
    height: 400px;
    width: 300px;
  }
}
@media(max-width: 1300px) {
  #main-artist #artist-content {
    grid-template-columns: 1fr 2fr 1fr;
  }
}
@media(max-width: 1000px) {
  #main-artist #artist-content {
    grid-template-columns: 1fr 2fr;
  }
}
