#contact-form {
  margin: 60px auto;
  width: 50%;
  .title {
    text-shadow: 0px 0px 10px #ffffff66;
    text-align: center;
    margin-bottom: 30px;
  }
  form {
    text-align: center;
    div {
      text-align: left;
    }
    .cta-send {
      color: white;
      font-weight: bold;
      margin-top: 10px;
      padding: 20px;
      background-color: #cd16eb;
      border-radius: 50px;
      border: 1px solid white;
      width: 146px;
      transition: 0.15s ease-out;
      &:hover {
        box-shadow: 0px 0px 15px 2px #cd16eba6;
      }
    }
  }
}
@media(max-width: 1020px) {
  #contact-form {
    width: 55%;
  }
}
@media(max-width: 875px) {
  #contact-form {
    width: 60%;
  }
}
@media(max-width: 775px) {
  #contact-form {
    width: 65%;
  }
}
@media(max-width: 680px) {
  #contact-form {
    width: 75%;
  }
}
@media(max-width: 555px) {
  #contact-form {
    width: 80%;
  }
}

#contact-confirmation {
  margin: 60px auto;
  text-align: center;
  h1 {
    text-shadow: 0px 0px 10px #ffffff66;
    margin-bottom: 30px;
  }
  .back-cta-secondary {
    text-decoration: none;
    color: white;
    font-weight: bold;
    margin-top: 25px;
    padding: 20px;
    background-color: transparent;
    border-radius: 50px;
    border: 1px solid white;
    width: 207px;
    display: inline-block;
    transition: 0.15s ease-out;
    &:hover {
      box-shadow: 0px 0px 15px 2px #ffffff30;
    }
  }
}
