body:has(#main-releases) {
  background-color: #cd16eb;
}
#main-releases {
  margin: 40px;
  h1 {
    text-align: center;
    margin-bottom: 50px;
    text-shadow: 0px 0px 10px #00000096;
  }
  .releases {
    display: flex;
    justify-content: center;
    margin-bottom: 75px;
    .releases-block {
      margin-right: 50px;
      a {
        text-decoration: none;
        color: white;
        .releases-card {
          height: 400px;
          width: 400px;
          background-size: cover;
          background-position: center;
          box-shadow: 1px 1px 8px 2px #0000006b;
          transition: 0.15s ease-out;
        }
        .releases-infos {
          margin-top: 10px;
        }
        &:hover {
          .releases-card {
            box-shadow: 1px 1px 8px 5px #0000006b;
          }
          .releases-infos {
            text-decoration: underline;
          }
        }
      }
    }
    .releases-players iframe {
      width: 500px;
      height: 300px;
      box-shadow: 1px 1px 6px 0px #00000069;
    }
  }
}
@media(max-width: 1000px) {
  #main-releases .releases .releases-block a .releases-card {
    height: 350px;
    width: 350px;
  }
}
@media(max-width: 960px) {
  #main-releases .releases .releases-block a .releases-card {
    height: 300px;
    width: 300px;
  }
}

@media(max-width: 900px) {
  #main-releases .releases .releases-block {
    margin-right: 0px;
  }
  #main-releases .releases .releases-players iframe {
    display: none;
  }
  #main-releases .releases .releases-block a .releases-card {
    height: 450px;
    width: 450px;
  }
}

@media(max-width: 650px) {
  #main-releases .releases .releases-block a .releases-card {
    height: 400px;
    width: 400px;
  }
}
@media(max-width: 550px) {
  #main-releases .releases .releases-block a .releases-card {
    height: 350px;
    width: 350px;
  }
}
@media(max-width: 500px) {
  #main-releases .releases .releases-block a .releases-card {
    height: 300px;
    width: 300px;
  }
}
@media(max-width: 400px) {
  #main-releases .releases .releases-block a .releases-card {
    height: 250px;
    width: 250px;
  }
}
@media(max-width: 330px) {
  #main-releases .releases .releases-block a .releases-card {
    height: 200px;
    width: 200px;
  }
}
