#main-release {
  margin: 60px;
  #release-content {
    display: flex;
    justify-content: space-evenly;
    .release-picture {
      height: 500px;
      width: 500px;
      margin-right: 80px;
      background-size: cover;
      background-position: center;
      box-shadow: 0px 0px 19px 3px #0000006b;
    }
    .release-info {
      margin-top: 20px;
    }
    .release-player {
      flex-grow: 1;
      max-width: 950px;
    }
  }
  #release-actions {
    text-align: center;
    margin-top: 40px;
    div {
      margin-bottom: 15px;
    }
    a.release-cta-main {
      text-decoration: none;
      color: white;
      padding: 15px;
      background-color: #cd16eb;
      border-radius: 50px;
      border: solid 1px;
      display: inline-block;
      transition: 0.15s ease-out;
      &:hover {
        box-shadow: 0px 0px 15px 2px #cd16eba6;
      }
    }
    a.release-cta-secondary {
      text-decoration: none;
      color: white;
      padding: 15px;
      background-color: transparent;
      border-radius: 50px;
      border: 1px solid white;
      width: 194px;
      display: inline-block;
      transition: 0.15s ease-out;
      &:hover {
        box-shadow: 0px 0px 15px 2px #ffffff30;
      }
    }
  }
}
@media(max-width: 1050px) {
  #main-release #release-content .release-picture {
    height: 450px;
    width: 450px;
  }
}
@media(max-width: 1000px) {
  #main-release #release-content .release-picture {
    height: 365px;
    width: 365px;
  }
}
@media(max-width: 915px) {
  #main-release #release-content .release-picture {
    height: 300px;
    width: 300px;
  }
}
@media(max-width: 850px) {
  #main-release #release-content {
    display: block;
  }
  #main-release #release-content .release-picture {
    margin: auto;
    height: 450px;
    width: 450px;
  }
  #main-release #release-content .release-info {
    text-align: center;
  }
  #main-release #release-content .release-player {
    margin-top: 40px;
  }
}
@media(max-width: 575px) {
  #main-release #release-content .release-picture {
    height: 400px;
    width: 400px;
  }
}
@media(max-width: 520px) {
  #main-release #release-content .release-picture {
    height: 300px;
    width: 300px;
  }
}
@media(max-width: 425px) {
  #main-release {
    margin: 60px 40px;
  }
}
@media(max-width: 380px) {
  #main-release {
    margin: 60px 30px;
  }
}
@media(max-width: 360px) {
  #main-release #release-content .release-picture {
    height: 250px;
    width: 250px;
  }
}
@media(max-width: 310px) {
  #main-release #release-content .release-picture {
    height: 200px;
    width: 200px;
  }
}
