#main-release {
  margin: 60px;
  #release-content {
    display: flex;
    .release-picture {
      height: 430px;
      width: 430px;
      margin-right: 80px;
      background-size: cover;
      background-position: center;
      box-shadow: 1px 1px 8px 2px #0000006b;
    }
    .release-player {
      flex-grow: 1;
    }
  }
}
