<footer id="footer" class="text-center text-white" style="background-color: rgb(0 0 0);">
  <!-- Grid container -->
  <div class="container p-3 pb-0">
    <!-- Section: Social media -->
    <section class="mb-2">
      <a class="btn btn-floating m-1" href="https://www.instagram.com/canecorso.rec/" target="_blank" role="button"
        ><i class="fa-brands fa-instagram"></i
      ></a>
      <a class="btn btn-floating m-1" href="https://www.facebook.com/CaneCorsoRecords" target="_blank" role="button"
        ><i class="fa-brands fa-facebook-f"></i
      ></a>
      <a class="btn btn-floating m-1" href="https://soundcloud.com/canecorsorecords" target="_blank" role="button"
        ><i class="fa-brands fa-soundcloud"></i
      ></a>
      <a class="btn btn-floating m-1" href="https://canecorsorecords.bandcamp.com/" target="_blank" role="button"
        ><i class="fa-brands fa-bandcamp"></i
      ></a>
      <a class="btn btn-floating m-1" href="https://open.spotify.com/user/8l3mqiccmcs61ngdq5c05nu5a?si=88a48a914c4447e9" target="_blank" role="button"
        ><i class="fa-brands fa-spotify"></i
      ></a>
    </section>
    <!-- Section: Social media -->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-2 pb-3" style="font-size: 10px;">
    © 2023 All rights reserved to Cane Corso Records. Website by Antoine Delprat.
  </div>
  <!-- Copyright -->
</footer>
