<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">
    <div id="logo"></div>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <%# <span class="navbar-toggler-icon"></span> %>
    <i class="fa-solid fa-bars"></i>
  </button>
  <div class="collapse navbar-collapse justify-content-between" id="navbarNav">
    <ul class="navbar-nav links">
      <li class="nav-item active">
        <a class="nav-link" href="#">Releases</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Events</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Shop</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Booking</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Contact</a>
      </li>
    </ul>
    <ul class="navbar-nav socials">
      <li class="nav-item active">
        <a class="nav-link" href="https://www.instagram.com/canecorso.rec/" target="_blank"><i class="fa-brands fa-instagram"></i></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://www.facebook.com/CaneCorsoRecords" target="_blank"><i class="fa-brands fa-facebook-f"></i></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://soundcloud.com/canecorsorecords" target="_blank"><i class="fa-brands fa-soundcloud"></i></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://canecorsorecords.bandcamp.com/" target="_blank"><i class="fa-brands fa-bandcamp"></i></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://open.spotify.com/user/8l3mqiccmcs61ngdq5c05nu5a?si=88a48a914c4447e9" target="_blank"><i class="fa-brands fa-spotify"></i></a>
      </li>
    </ul>
  </div>
</nav>
