<div id="main-home">
  <div id="home-picture">
    <div class="home-picture-hover">
      <h1>Agence de booking, label<br>& évènements.</h1>
    </div>
  </div>
  <div id="home-content">
    <div class="home-next">
      <div>
        <h2>Next Event</h2>
        <p>Rendez-vous le 23 Septembre prochain à Angers !</p>
        <p>Au programme : un Open Air gratuit de 14h à minuit dans le Parc Saint-Serge, avec des stands, de quoi manger, se rafraîchir...</p>
        <p>Côté son, Cane Corso Records invite du beau monde et notamment l'angevin Unklevon (Boys Noize Records) pour un set live.</p>
        <a class="home-event-cta" href="https://www.facebook.com/events/3554129824869242/" target="_blank">Accéder à l'évènement</a>
      </div>
      <a class="home-next-event" href="https://www.facebook.com/events/3554129824869242/" target="_blank"></a>
    </div>
    <div class="home-releases">

    </div>
  </div>
</div>
