<div id="contact-confirmation">
  <h1>Merci !</h1>
  <p>Votre message a été envoyé avec succès.</p>
  <p>Nous reviendrons vers vous dès que possible.</p>
  <div><%= link_to "Retourner à l'accueil", root_path, class: "back-cta-secondary" %></div>
</div>
